/* reset */
* {
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background: tomato;
    display: flex;
    justify-content: center;
    padding: 2em;
}
main {
    flex:1;
    background: grey;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

}
.reset{
    margin: 0 1em;
}